<div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div
    class="left-side"
    fxLayout="row"
    fxLayoutGap.lg="10px"
    fxLayoutGap.md="5px"
    fxLayoutGap.sm="5px"
  >
    <img class="icon" [src]="arowLoc" alt="back" fxFlexAlign="center" />
    <img id="logo" [src]="logoUrl" alt="getbiz" />
    <p fxFlexAlign="end">{{ url }}</p>
  </div>
  <div
    class="right-side"
    fxLayout="row"
    fxLayoutGap.lg="10px"
    fxLayoutGap.md="5px"
    fxLayoutGap.sm="5px"
  >
    <img class="icon-1" [src]="shareLoc" alt="share" fxFlexAlign='center'/>
    <p fxFlexAlign='center'>Download Web app</p>
    <img class="icon-1" [src]="downloadLoc" alt="download" fxFlexAlign='center' />
    <div fxFlexAlign='center'>
      <mat-form-field >
        <mat-label  style="color:#ffffff">Select Language</mat-label>
        <mat-select style="color:#ffffff;">
          <mat-option value="english">English</mat-option>
          <mat-option value="tamil ">Tamil</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <img class="user" [src]="user" alt="user" fxFlexAlign='end'>
  </div>
</div>
